<nz-header *ngIf="auth.authUser?.value;else login">
  <div class="app-header">
    <nz-row nzAlign="middle" nzJustify="end" style="margin-right: 20px">
      <nz-col>
        <nz-row nzAlign="middle" nzJustify="end" [nzGutter]="16">
          <nz-col>
            <nz-button-group>
              <nz-badge [nzCount]="5">
                <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomLeft">
                  <i nz-icon nzType="notification" [nzTheme]="'twotone'" [nzTwotoneColor]="'#52c41a'"></i>
                </button>
              </nz-badge>
            </nz-button-group>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <nz-list nzBordered nzSize="small">
                <nz-list-item *ngFor="let item of data">
                  <nz-avatar nzIcon="user"></nz-avatar>
                  {{item}}
                </nz-list-item>
                <nz-list-footer><a routerLink="#">clear all</a></nz-list-footer>
              </nz-list>
            </nz-dropdown-menu>
          </nz-col>
          <nz-col>
            <nz-button-group>
              <button nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomLeft">
                <i nz-icon nzType="container" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
              </button>
            </nz-button-group>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
              <nz-list nzBordered nzSize="small">
                <nz-list-item *ngFor="let item of data">
                  <nz-avatar nzIcon="user"></nz-avatar>
                  {{item}}
                </nz-list-item>
              </nz-list>
            </nz-dropdown-menu>
          </nz-col>
          <nz-col>
            <nz-button-group>
              <button nz-button (click)="showProfile()">{{auth.authUser?.getValue()?.nomUtilisateur}}</button>
              <button nz-button nz-dropdown [nzDropdownMenu]="menu3" nzPlacement="bottomLeft">
                <i nz-icon nzType="user"></i>
              </button>

            </nz-button-group>
            <nz-dropdown-menu #menu3="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>Profile</li>
                <li nz-menu-item (click)="settings()">Settings</li>
                <li nz-menu-item (click)="logOut()">Log Out</li>
              </ul>
            </nz-dropdown-menu>
          </nz-col>
        </nz-row>
      </nz-col>
    </nz-row>
  </div>
  <nz-modal
    nzWrapClassName="vertical-center-modal"
    [(nzVisible)]="isVisibleMiddle"
    nzTitle="Set API URLs"
    (nzOnCancel)="this.isVisibleMiddle=false"
    (nzOnOk)="setPublicApiUrl()"
  >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Python API</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input [(ngModel)]="pythonApiUrl" placeholder="Python API"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Spring API</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input [(ngModel)]="springApiUrl" placeholder="Spring API"/>
      </nz-form-control>
    </nz-form-item>
  </nz-modal>
</nz-header>
<ng-template #login>
  <nz-header style="background: #001529;">
    <div class="app-header">
      <nz-row nzAlign="middle" nzJustify="start">
        <nz-col nzOffset="1">
          <a routerLink="/">
            <img src="assets/images/logo.jpg" alt="logo" height="50px" style="margin-bottom: 10px">
            <span>EagleEye</span>
          </a>
        </nz-col>
      </nz-row>
    </div>

  </nz-header>
</ng-template>
