

nz-header {
  background: #fff;
  padding: 0;

}

nz-list-item {
  background-color: white;
}

nz-list-item:hover {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}

.header-notif-area {
  margin-right: 20px;
}

::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}

span {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}
