<div class="logo">
  <a routerLink="/">
    <img src="assets/images/logo.jpg" alt="logo" height="50px">
    <span>EagleEye</span>
  </a>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline">
  <li nz-submenu nzTitle="Users management" nzIcon="user">
    <ul>
      <li nz-menu-item [routerLink]="['/users']">Users List</li>
      <li nz-menu-item [routerLink]="['/users','add']">Add User</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Camera Management" nzIcon="video-camera">
    <ul>
      <li nz-menu-item [routerLink]="['/cameras']">Cameras List</li>
      <li nz-menu-item [routerLink]="['/cameras','maintenance-schedule']">Maintenance Schedule</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Model Configuration" nzIcon="setting">
    <ul>
      <li nz-menu-item [routerLink]="['/module-configuration','detect-faces']">Detect faces in image</li>
      <li nz-menu-item [routerLink]="['/module-configuration','add']">Add Pictures to dataset</li>
      <li nz-menu-item [routerLink]="['/module-configuration','encode-faces']">Encode faces</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Complaints Management" nzIcon="folder-open">
    <ul>
      <li nz-menu-item [routerLink]="['/complaints'] ">Complaints List</li>
    </ul>
  </li>
  <li nz-menu-item>
    <i nz-icon nzType="dot-chart"></i>
    <span>Statistics</span>
  </li>
</ul>
